<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ctw.dao.post.IPostDao">

    <resultMap id="PostEntity" type="com.ctw.domain.post.PostEntity">
        <result property="id" column="id"/>
        <result property="postName" column="post_name"/>
        <result property="description" column="description"/>
        <result property="isValid" column="is_valid"/>
        <result property="icon" column="icon"/>
        <result property="creatDate" column="creat_date"/>
        <result property="createNameId" column="create_name_id"/>
        <result property="orgId" column="org_Id"/>
    </resultMap>

    <resultMap id="Post" type="com.ctw.domain.post.Post">
        <result property="id" column="id"/>
        <result property="postName" column="post_name"/>
        <result property="description" column="description"/>
        <result property="isValid" column="is_valid"/>
        <result property="icon" column="icon"/>
        <result property="creatDate" column="creat_date"/>
        <result property="createNameId" column="create_name_id"/>
        <result property="orgId" column="org_Id"/>
        <result property="orgName" column="org_name"/>
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">

		id,post_name,description,is_valid,icon,creat_date,create_name_id,org_Id

	</sql>

    <insert id="create">
        INSERT INTO t_sys_post (
        	id ,
        	post_name ,
        	description ,
        	is_valid ,
        	icon ,
        	creat_date ,
        	create_name_id ,
        	org_Id 
        ) VALUES (
        	#{id, jdbcType=INTEGER} ,
        	#{postName, jdbcType=VARCHAR} ,
        	#{description, jdbcType=VARCHAR} ,
        	#{isValid, jdbcType=INTEGER} ,
        	#{icon, jdbcType=VARCHAR} ,
        	#{creatDate, jdbcType=DATE} ,
        	#{createNameId, jdbcType=VARCHAR} ,
        	#{orgId, jdbcType=INTEGER} 
        )

	</insert>

    <update id="update">
        UPDATE t_sys_post
           SET
	           post_name = #{postName, jdbcType=VARCHAR} ,
	           description = #{description, jdbcType=VARCHAR} ,
	           is_valid = #{isValid, jdbcType=INTEGER} ,
	           icon = #{icon, jdbcType=VARCHAR} ,
	           creat_date = #{creatDate, jdbcType=DATE} ,
	           create_name_id = #{createNameId, jdbcType=VARCHAR} ,
	           org_Id = #{orgId, jdbcType=INTEGER} 
         WHERE
	           id = #{id, jdbcType=INTEGER} 
	</update>

    <delete id="deleteById">
        DELETE FROM t_sys_post WHERE
        id = #{id, jdbcType=INTEGER} 
    </delete>

    <select id="getById" resultMap="PostEntity">
        SELECT
        <include refid="columns"/>
        <![CDATA[
		  FROM t_sys_post
	     WHERE 
		       id = #{id, jdbcType=INTEGER} 
	    ]]>
    </select>


    <sql id="findWhere">
        <!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
        <where>
            <if test="@Ognl@isNotEmpty(id)">
                AND id = #{id, jdbcType=INTEGER}
            </if>
            <if test="@Ognl@isNotEmpty(postName)">
                AND post_name = #{postName, jdbcType=VARCHAR}
            </if>
            <if test="@Ognl@isNotEmpty(description)">
                AND description = #{description, jdbcType=VARCHAR}
            </if>
            <if test="@Ognl@isNotEmpty(isValid)">
                AND is_valid = #{isValid, jdbcType=INTEGER}
            </if>
            <if test="@Ognl@isNotEmpty(icon)">
                AND icon = #{icon, jdbcType=VARCHAR}
            </if>
            <if test="@Ognl@isNotEmpty(creatDateBegin)">
                AND creat_date >= #{creatDateBegin}
            </if>
            <if test="@Ognl@isNotEmpty(creatDateEnd)">
                AND creat_date &lt;= #{creatDateEnd}
            </if>
            <if test="@Ognl@isNotEmpty(createNameId)">
                AND create_name_id = #{createNameId, jdbcType=VARCHAR}
            </if>
            <if test="@Ognl@isNotEmpty(orgId)">
                AND org_Id = #{orgId, jdbcType=INTEGER}
            </if>
        </where>
    </sql>

    <select id="findListCount" resultType="long">
        SELECT COUNT(1) FROM (
        SELECT
        (select tso.org_name from t_sys_org tso where tso.id=tsp.org_Id) org_name,
        tsp.*
        FROM
        t_sys_post tsp

        <include refid="findWhere"/>
        )A

    </select>

    <select id="findList" resultMap="Post">
        SELECT
        (select tso.org_name from t_sys_org tso where tso.id=tsp.org_Id) org_name,
        tsp.*
        FROM
        t_sys_post tsp

        <include refid="findWhere"/>

        <if test="@Ognl@isNotEmpty(sortColumns)">
            ORDER BY ${sortColumns}
        </if>
    </select>


    <select id="seachNotLinkPostCount" resultType="long">
        SELECT COUNT(1) FROM (
        SELECT
        tso.org_name,
        tsp.*
        FROM
        t_sys_post tsp
        LEFT JOIN t_sys_org tso ON tso.id = tsp.org_Id
        <where>
            <if test="@Ognl@isNotEmpty(postIds)">
                and tsp.id not in
                <foreach item="item" index="index" collection="postIds"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>

            <if test="@Ognl@isNotEmpty(postName)">
                AND tsp.post_name like CONCAT('%', #{postName, jdbcType=VARCHAR},'%')
            </if>
            <if test="@Ognl@isNotEmpty(orgId)">
                AND org_Id = #{orgId, jdbcType=INTEGER}
            </if>
        </where>

        <if test="@Ognl@isNotEmpty(sortColumns)">
            ORDER BY ${sortColumns}
        </if>
        )A
    </select>

    <select id="seachNotLinkPost" resultMap="Post">
        SELECT
        tso.org_name,
        tsp.*
        FROM
        t_sys_post tsp
        LEFT JOIN t_sys_org tso ON tso.id = tsp.org_Id
        <where>
            <if test="@Ognl@isNotEmpty(postIds)">
                and tsp.id not in
                <foreach item="item" index="index" collection="postIds"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>

            <if test="@Ognl@isNotEmpty(postName)">
                AND tsp.post_name like CONCAT('%', #{postName, jdbcType=VARCHAR},'%')
            </if>
            <if test="@Ognl@isNotEmpty(orgId)">
                AND org_Id = #{orgId, jdbcType=INTEGER}
            </if>
        </where>

        <if test="@Ognl@isNotEmpty(sortColumns)">
            ORDER BY ${sortColumns}
        </if>
    </select>


</mapper>

