<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ctw.dao.resource.IResourceVoDao">

    <resultMap id="ResourceEntity" type="com.ctw.domain.resource.ResourceEntity">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="url" column="url"/>
        <result property="type" column="type"/>
        <result property="priority" column="priority"/>
        <result property="parentId" column="parent_Id"/>
        <result property="isValid" column="is_valid"/>
        <result property="partentsIds" column="partents_ids"/>
        <result property="leaf" column="leaf"/>
        <result property="createNameId" column="create_name_id"/>
        <result property="ts" column="ts"/>
        <result property="description" column="description"/>
        <result property="icon" column="icon"/>
        <result property="permission" column="permission"/>
    </resultMap>

    <resultMap id="ResourceVo" type="com.ctw.domain.resource.ResourceVo">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="url" column="url"/>
        <result property="type" column="type"/>
        <result property="priority" column="priority"/>
        <result property="parentId" column="parent_Id"/>
        <result property="isValid" column="is_valid"/>
        <result property="partentsIds" column="partents_ids"/>
        <result property="leaf" column="leaf"/>
        <result property="createNameId" column="create_name_id"/>
        <result property="ts" column="ts"/>
        <result property="description" column="description"/>
        <result property="icon" column="icon"/>
        <result property="permission" column="permission"/>
        <result property="hasChild" column="hasChild"/>

    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
	    <![CDATA[

		id,name,url,type,priority, IFNULL(parent_Id,0) as parent_Id,is_valid,partents_ids,leaf,create_name_id,ts,description,icon,permission

        ]]>
	</sql>

    <insert id="create">
    <![CDATA[

        INSERT INTO t_sys_resource (
        	id ,
        	name ,
        	url ,
        	type ,
        	priority ,
        	parent_Id ,
        	is_valid ,
        	partents_ids ,
        	leaf ,
        	create_name_id ,
        	ts ,
        	description ,
        	icon ,
        	permission 
        ) VALUES (
        	#{id, jdbcType=INTEGER} ,
        	#{name, jdbcType=VARCHAR} ,
        	#{url, jdbcType=VARCHAR} ,
        	#{type, jdbcType=VARCHAR} ,
        	#{priority, jdbcType=INTEGER} ,
        	#{parentId, jdbcType=INTEGER} ,
        	#{isValid, jdbcType=INTEGER} ,
        	#{partentsIds, jdbcType=VARCHAR} ,
        	#{leaf, jdbcType=VARCHAR} ,
        	#{createNameId, jdbcType=VARCHAR} ,
        	#{ts, jdbcType=TIMESTAMP} ,
        	#{description, jdbcType=VARCHAR} ,
        	#{icon, jdbcType=VARCHAR} ,
        	#{permission, jdbcType=VARCHAR} 
        )

        ]]>
	</insert>

    <update id="update">
        UPDATE t_sys_resource
        <set>
            <if test="@Ognl@isNotEmpty(name)">
                  name = #{name, jdbcType=VARCHAR},
            </if>
            <if test="@Ognl@isNotEmpty(url)">
                  url = #{url, jdbcType=VARCHAR},
            </if>
            <if test="@Ognl@isNotEmpty(type)">
                  type = #{type, jdbcType=VARCHAR},
            </if>
            <if test="@Ognl@isNotEmpty(priority)">
                  priority = #{priority, jdbcType=INTEGER},
            </if>
            <if test="@Ognl@isNotEmpty(parentId)">
                  parent_Id = #{parentId, jdbcType=INTEGER},
            </if>
            <if test="@Ognl@isNotEmpty(isValid)">
                  is_valid = #{isValid, jdbcType=INTEGER},
            </if>
            <if test="@Ognl@isNotEmpty(partentsIds)">
                  partents_ids = #{partentsIds, jdbcType=VARCHAR},
            </if>
            <if test="@Ognl@isNotEmpty(leaf)">
                  leaf = #{leaf, jdbcType=VARCHAR},
            </if>
            <if test="@Ognl@isNotEmpty(createNameId)">
                  create_name_id = #{createNameId, jdbcType=VARCHAR},
            </if>

            <if test="@Ognl@isNotEmpty(description)">
                  description = #{description, jdbcType=VARCHAR},
            </if>
            <if test="@Ognl@isNotEmpty(icon)">
                  icon = #{icon, jdbcType=VARCHAR},
            </if>
            <if test="@Ognl@isNotEmpty(permission)">
                  permission = #{permission, jdbcType=VARCHAR},
            </if>

        </set>

        WHERE
        id = #{id, jdbcType=INTEGER}
    </update>

    <delete id="deleteById">
    <![CDATA[

        DELETE FROM t_sys_resource WHERE
        id = #{id, jdbcType=INTEGER} 

        ]]>
    </delete>

    <select id="getById" resultMap="ResourceEntity">
        SELECT
        <include refid="columns"/>
        <![CDATA[
		  FROM t_sys_resource
	     WHERE 
		       id = #{id, jdbcType=INTEGER} 
	    ]]>
    </select>


    <sql id="findWhere">
        <!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
        <where>
            <if test="@Ognl@isNotEmpty(id)">
                AND id = #{id, jdbcType=INTEGER}
            </if>
            <if test="@Ognl@isNotEmpty(name)">
                AND name = #{name, jdbcType=VARCHAR}
            </if>
            <if test="@Ognl@isNotEmpty(url)">
                AND url = #{url, jdbcType=VARCHAR}
            </if>
            <if test="@Ognl@isNotEmpty(type)">
                AND type = #{type, jdbcType=VARCHAR}
            </if>
            <if test="@Ognl@isNotEmpty(priority)">
                AND priority = #{priority, jdbcType=INTEGER}
            </if>
            <if test="@Ognl@isNotEmpty(parentId)">
                AND parent_Id = #{parentId, jdbcType=INTEGER}
            </if>
            <if test="@Ognl@isNotEmpty(isValid)">
                AND is_valid = #{isValid, jdbcType=INTEGER}
            </if>
            <if test="@Ognl@isNotEmpty(partentsIds)">
                AND partents_ids = #{partentsIds, jdbcType=VARCHAR}
            </if>
            <if test="@Ognl@isNotEmpty(leaf)">
                AND leaf = #{leaf, jdbcType=VARCHAR}
            </if>
            <if test="@Ognl@isNotEmpty(createNameId)">
                AND create_name_id = #{createNameId, jdbcType=VARCHAR}
            </if>
            <if test="@Ognl@isNotEmpty(tsBegin)">
                AND ts >= #{tsBegin}
            </if>
            <if test="@Ognl@isNotEmpty(tsEnd)">
                AND ts &lt;= #{tsEnd}
            </if>
            <if test="@Ognl@isNotEmpty(description)">
                AND description = #{description, jdbcType=VARCHAR}
            </if>
            <if test="@Ognl@isNotEmpty(icon)">
                AND icon = #{icon, jdbcType=VARCHAR}
            </if>
            <if test="@Ognl@isNotEmpty(permission)">
                AND permission = #{permission, jdbcType=VARCHAR}
            </if>
            <if test="@Ognl@isNotEmpty(resourceIds)">
                AND id in
                <foreach item="item" index="index" collection="resourceIds"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </sql>

    <select id="findListCount" resultType="long">
        SELECT COUNT(*) FROM t_sys_resource
        <include refid="findWhere"/>
    </select>

    <select id="findList" resultMap="ResourceVo">
        SELECT<include refid="columns"/>,
        (select count(1) from t_sys_resource srs where srs.parent_id =r.id and
        srs.type='menu' and srs.is_valid ) hasChild
        FROM t_sys_resource r
        <include refid="findWhere"/>

        <if test="@Ognl@isNotEmpty(sortColumns)">
            ORDER BY ${sortColumns}
        </if>
    </select>


    <select id="findAllListCount" resultType="long">
        SELECT COUNT(*) FROM t_sys_resource
        <!--	<include refid="findWhere"/>-->
    </select>

    <select id="findAllList" resultMap="ResourceVo">
        SELECT
        <include refid="columns"/>
        FROM t_sys_resource r
        <!--<include refid="findWhere"/>
-->
        <if test="@Ognl@isNotEmpty(sortColumns)">
            ORDER BY ${sortColumns}
        </if>
    </select>


</mapper>

