<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ctw.dao.depot.IDepotDao">

	<resultMap id="DepotEntity" type="com.ctw.domain.depot.DepotEntity">
        <result property="id" column="id"/>
        <result property="depotNo" column="depot_No"/>
        <result property="depotName" column="depot_name"/>
        <result property="depotManager" column="depot_manager"/>
        <result property="address" column="address"/>
        <result property="isValid" column="is_valid"/>
        <result property="isDefault" column="is_default"/>
	</resultMap>

	<resultMap id="Depot" type="com.ctw.domain.depot.Depot">
        <result property="id" column="id"/>
        <result property="depotNo" column="depot_No"/>
        <result property="depotName" column="depot_name"/>
        <result property="depotManager" column="depot_manager"/>
        <result property="address" column="address"/>
        <result property="isValid" column="is_valid"/>
        <result property="isDefault" column="is_default"/>
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		id,depot_No,depot_name,depot_manager,address,is_valid,is_default
	    ]]>
	</sql>

	<insert id="create">
        INSERT INTO t_bus_depot (
        	id ,
        	depot_No ,
        	depot_name ,
        	depot_manager ,
        	address ,
        	is_valid ,
        	is_default 
        ) VALUES (
        	#{id, jdbcType=BIGINT} ,
        	#{depotNo, jdbcType=VARCHAR} ,
        	#{depotName, jdbcType=VARCHAR} ,
        	#{depotManager, jdbcType=VARCHAR} ,
        	#{address, jdbcType=VARCHAR} ,
        	#{isValid, jdbcType=INTEGER} ,
        	#{isDefault, jdbcType=INTEGER} 
        )
	</insert>

	<update id="update" >
        UPDATE t_bus_depot
           SET
	           depot_No = #{depotNo, jdbcType=VARCHAR} ,
	           depot_name = #{depotName, jdbcType=VARCHAR} ,
	           depot_manager = #{depotManager, jdbcType=VARCHAR} ,
	           address = #{address, jdbcType=VARCHAR} ,
	           is_valid = #{isValid, jdbcType=INTEGER} ,
	           is_default = #{isDefault, jdbcType=INTEGER} 
         WHERE
	           id = #{id, jdbcType=BIGINT} 
	</update>

    <delete id="deleteById">
        DELETE FROM t_bus_depot WHERE
        id = #{id, jdbcType=BIGINT} 
    </delete>

	<delete id="batchDelete" parameterType="string">
		DELETE FROM t_bus_depot WHERE id  IN
		<foreach item= "id"  collection="array" open="(" separator="," close=")">
			#{id, jdbcType=BIGINT} 
		</foreach>
	</delete>

    <select id="getById" resultMap="DepotEntity">
		SELECT <include refid="columns" />
		FROM t_bus_depot WHERE
		id = #{id, jdbcType=BIGINT} 
	</select>


	<sql id="findWhere">
		<where>
		<if test="@Ognl@isNotEmpty(id)">
			AND id = #{id, jdbcType=BIGINT}
		</if>
		<if test="@Ognl@isNotEmpty(depotNo)">
			AND depot_No = #{depotNo, jdbcType=VARCHAR}
		</if>
		<if test="@Ognl@isNotEmpty(depotName)">
			AND depot_name = #{depotName, jdbcType=VARCHAR}
		</if>
		<if test="@Ognl@isNotEmpty(depotManager)">
			AND depot_manager = #{depotManager, jdbcType=VARCHAR}
		</if>
		<if test="@Ognl@isNotEmpty(address)">
			AND address = #{address, jdbcType=VARCHAR}
		</if>
		<if test="@Ognl@isNotEmpty(isValid)">
			AND is_valid = #{isValid, jdbcType=INTEGER}
		</if>
		<if test="@Ognl@isNotEmpty(isDefault)">
			AND is_default = #{isDefault, jdbcType=INTEGER}
		</if>

		</where>
	</sql>

    <select id="findListCount" resultType="long">
        SELECT COUNT(*) FROM t_bus_depot
		<include refid="findWhere"/>
    </select>

    <select id="findList" resultMap="Depot">
    	SELECT <include refid="columns" />
	    FROM t_bus_depot

		<include refid="findWhere"/>
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>


</mapper>

